form {
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;

  & > div {
    display: flex;
    flex-flow: row nowrap;
    line-height: 2em;
    margin: 5px;
    & > label {
      color: #333;
      width: 110px;
      font-size: 1em;
      line-height: 32px;
    }
    & > input,
    & > select,
    & > textarea {
      flex: 1;
      padding: 3px 5px;
      font-size: 1em;
      margin-left: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    & > input[type="checkbox"] {
      margin-top: 7px;
    }
    & > div {
      margin-left: 16px;
      & > label {
        display: block;
        & > input {
          margin-right: 3px;
        }
      }
    }
    & > span {
      line-height: 32px;
      margin-left: 10px;
      color: #800;
      font-weight: bold;
    }
  }
  .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  button {
    margin: 0 10px;
    padding: 4px 8px;
  }
}
