.wrapper {
  max-width: 800px;
  padding: 20px 15px;
  margin: 20px auto 0 auto;
  background-color: rgba(16, 15, 16, 0.7);
  border-radius: 30px;

  .items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.padding {
  padding: 30px 0;
}

.title {
  padding-bottom: 22px;

  p {
    padding-left: 15px;
    color: #fff;
    text-align: left;
    border-bottom: 2px solid #88888d;
  }
}
