.card {
  display: flex;
  width: 210px;
  height: 330px;
  position: relative;
  perspective: 1000px;
  color: #fff;
  z-index: 2;
  .front,
  .back {
    flex-direction: column;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(153, 51, 204, 1);
  }
  .front {
    background-color: #000;
    .icons {
      color: #fff;
      position: absolute;
      background-color: rgba(20, 20, 27, 0.7);
      border-top-left-radius: 10px;

      svg {
        margin: 0 5px;
      }
    }
    .image {
      height: 250px;
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      img {
        max-width: 100%;
      }
    }
    .info {
      display: flex;
      min-width: 0;
      justify-content: space-between;
      padding: 5px;
      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price {
        padding-left: 5px;
      }
    }
    .stars {
      color: #fbe562;
      text-align: left;
      font-size: 12px;
      padding-left: 5px;
    }
  }
  .back {
    background-color: #000;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    .desc,
    .age {
      display: block;
      padding-bottom: 20px;
      font-size: 14px;
    }
  }
  &:hover .front {
    transform: rotateY(180deg);
  }
  &:hover .back {
    transform: rotateY(360deg);
  }
  p,
  .btn {
    font-size: 14px;
  }
}

.cards {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 40px;
  .spinner,
  h3 {
    position: absolute;
    top: 70px;
  }
  h3 {
    top: 30px;
    color: #fff;
    background-color: rgba(20, 20, 27, 0.7);
  }
}
