@font-face {
  font-family: "OpenSans-Regular";
  /* IE9 Compat Modes */
  src: url("~fonts/OpenSans-Regular.eot");
  /* IE6-IE8 */
  src: url("~fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    /* Super Modern Browsers */ url("~fonts/OpenSans-Regular.woff2") format("woff2"),
    /* Pretty Modern Browsers */ url("~fonts/OpenSans-Regular.woff") format("woff"),
    /* Safari, Android, iOS */ url("~fonts/OpenSans-Regular.ttf") format("truetype"),
    /* Legacy iOS */ url("~fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
