.mainTitle {
    width: 300px;
    background: beige;
    text-align: center;
}

.background {
    background: url(/src/images/testBig.jpeg) no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
    margin: auto;
}