p {
  margin: 0;
}

.wrapper {
  background: url("https://gameguru.ru/media/f/wallpapers/3/1/16/47/1680.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0;
}

.wrapperProducts {
  background-color: rgba(10, 10, 10, 0.9);
  text-align: center;
  position: relative;
  overflow: hidden;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("https://i.playground.ru/p/JMFyJFYzyIN-RdKastTQEQ.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .grid {
    margin-top: 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 50px;
    z-index: 2;
    position: relative;
  }
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  min-height: calc(100vh - 141px);

  .title {
    font-size: 20px;
  }
}

.shadowContainer {
  max-width: 800px;
  padding: 20px 15px;
  margin: 0 auto;
  background-color: rgba(16, 15, 16, 0.7);
  border-radius: 30px;

  .title {
    padding-bottom: 22px;

    p {
      padding-left: 15px;
      color: #fff;
      text-align: left;
      border-bottom: 2px solid #88888d;
    }
  }

  .items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.padding {
  padding: 30px 0;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  background-color: #9933cc;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 1s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: #60257c;
  }
}
