p {
  margin: 0;
}

.wrapper {
  background: url("https://gameguru.ru/media/f/wallpapers/3/1/16/47/1680.jpg") no-repeat;
  background-size: cover;
}

.wrapperProducts {
  background-color: rgba(10, 10, 10, 0.9);
}

.content {
  max-width: 800px;
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
  min-height: calc(100vh - 80px);

  .title {
    font-size: 20px;
  }
}

.shadowContainer {
  max-width: 800px;
  padding: 20px 15px;
  margin: 0;
  background-color: rgba(16, 15, 16, 0.7);
  border-radius: 30px;

  .title {
    padding-bottom: 22px;

    p {
      padding-left: 15px;
      color: #fff;
      text-align: left;
      border-bottom: 2px solid #88888d;
    }
  }

  .items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.padding {
  padding: 30px 0;
}

.btn {
  background-color: #9933cc;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 1s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: #60257c;
  }
}
