@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  font-family: "OpenSans-Regular", sans-serif;
}

h2 {
  font-size: 50px;
  display: block;
  background-color: white;
}

::placeholder {
  /*test for autoprefixer in postcss*/
  color: antiquewhite;
}

.test-block {
  border: 4px dotted black;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-block + .test-block {
  margin-top: 20px;
}
