@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  font-family: "OpenSans-Regular", sans-serif;
}

h2 {
  font-size: 50px;
  text-align: center;
  display: block;
  background-color: white;
}
