@import "../components/header/header";
@import "../components/header/navbar";
@import "../components/footer/footer";

* {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.content {
  padding-top: 200px;
  text-align: center;
  min-height: calc(100vh - 80px);

  &__title {
    font-size: 20px;
  }
}
