.container {
  .searchInput {
    margin: 30px 0;
    width: 85%;
    padding: 5px 10px;
    background-color: rgba(16, 15, 16, 0.7);
    border: 2px solid #88888d;
    border-radius: 10px;
  }
  input {
    color: #fff;
    position: relative;
    z-index: 2;
  }
}
