.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: rgba(17, 18, 18, 0.9);
  color: "#fff";
  padding: 32px;

  .title {
    color: #fff;
  }
}

.form {
  max-width: 700px;
  margin: 15px auto;

  & > div {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    line-height: 2em;
    margin: 5px;

    & > label {
      color: #fff !important;
      width: 170px;
      font-size: 1em;
      line-height: 32px;
    }

    & > input,
    & > select,
    & > textarea {
      color: #fff;
      flex: 1;
      padding: 3px 5px;
      font-size: 1em;
      margin-left: 15px;
      background-color: transparent;
      border: 1px solid #ccc;
    }

    & > span {
      line-height: 32px;
      margin-left: 10px;
      color: red;
    }
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  button {
    margin: 0 10px;
    padding: 8px 60px;
    color: #fff;
    background-color: #562370;
    border-radius: 10px;
    border: none;
  }
}

.filterForm {
  width: 170px;
  height: 520px;
  text-align: left;
  background-color: rgba(20, 20, 20, 0.9);
  padding: 20px;
  .block {
    display: block;
    text-align: left;
    margin: 0;
    color: #fff;
    p {
      margin-bottom: 0;
    }
  }
  .select {
    justify-content: flex-start;
    & > select,
    span {
      text-align: left;
      margin: 0;
      color: #fff;
      background-color: #121212;
    }
  }
}

.formControl {
  text-align: left;
  .radioInput {
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    display: grid;
    grid-template-columns: 12px auto;
    gap: 5px;
    transition: color ease 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: rebeccapurple;
    }
  }

  .form-control:focus-within {
    color: rebeccapurple;
  }

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: rebeccapurple;
    width: 12px;
    height: 12px;
    border: 1px solid rebeccapurple;
    border-radius: 50%;
    transform: translateY(4px);
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    box-shadow: inset 2px 2px rebeccapurple;
    background-color: rebeccapurple;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]:focus {
    outline: max(2px, 2px) solid rebeccapurple;
    outline-offset: max(2px, 2px);
  }
}

// the "!important" property was added to overlap the inline styles of the MUI library
.navButton {
  font-family: "Arial", sans-serif !important;
  color: #fff !important;
  padding: 15px !important;
  font-size: 16px !important;
  text-transform: none !important;
  border-bottom: 5px solid transparent !important;
  border-radius: 0 !important;
  transition: 0.5s all linear !important;

  &:hover,
  &:focus,
  &:active {
    color: #fff !important;
    border-color: #9933cc !important;
    background-color: #262726 !important;
  }
}
